img {
    width: 100%;
}


#topbar {
    display: flex;
    background-color: palevioletred;
    color: white;
    justify-content: space-between;
    align-items: baseline;
    

}

#topbar ul {
    display: flex;
    list-style: none;
    color: white;  
}

#topbar ul li {
margin-right: 1em;


}

#topbar a:link  { 
    color: white;
}

#topbar a:visited {
    color: white;
}

.splashscreen a:link  { 
    color: white;
}

.splashscreen a:visited {
    color: white;
}

footer a:link  { 
    color: white;
}

footer a:visited {
    color: white;
}


.splashscreen {
    text-align: center;
    background-image: url(./images/segundapic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;    
          
}

.splashscreen h1 {
    font-size: xx-large;
    margin-top: 0;
    font-family: cursive;
    padding-top: 15%;
    
}

.splashscreen h2 {
    font-weight: 100;
    font-family: cursive;
}

.splashscreen button {
    background-color: black;
    
}

.mapscreen {
    text-align: center;
    width: 100%;
    height: 100vh;
    margin-bottom: 50px;
    
}



iframe {
    width: 100%;
}


.gallery {
    text-align: center;
}




.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}


.grid3 img {
    
    width: 100%;
    padding: 0% 0%;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px;

}




.grid2 img {
   
   width: 50%;
   align-items: center;
}

.grid2 article p {
    width: 50%;
    padding: 0% 25%;
}

.menuscreen {
    text-align: center;
}



#team {
    text-align: center;
}


footer {
    background-color: palevioletred;
    color: white;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}

.copyright {
    font-size: small;
}